[submodule "vim/bundle/solarized"]
	path = vim/bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/syn-xml-nospell"]
	path = vim/bundle/syn-xml-nospell
	url = git@github.com:kouk/vim-syn-xml-nospell.git
[submodule "vim/bundle/bufexplorer"]
	path = vim/bundle/bufexplorer
	url = git@github.com:vim-scripts/bufexplorer.zip.git
[submodule "vim/bundle/uri-ref"]
	path = vim/bundle/uri-ref
	url = https://github.com/vim-scripts/uri-ref
